body{
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 20px;
}

.head {
    display: flex;
    flex-direction: column;
}

.product{
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}